.card {
    border: 4px #aba1a5 solid;
    border-radius: 2px;
    box-shadow: 4px 4px 10px rgb(56, 56, 56);
    height: 150px;
    margin: 1rem;
    position: relative;
    transition: all .2s ease-in-out;
    width: 150px;
}

.card > .img-container {
    background: rgb(255, 255, 255);
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.card > .img-container > img {
    height: 100%;
    width: 100%;
}

.card:active {
    transform: translate(1px, 1px);
}

.card:hover {
    box-shadow: 8px 8px 20px #4c3c3c;
    cursor: pointer;
    transform: scale(1.1);
}